


<div class="container d-flex flex-column">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">
      <h2>User info</h2>

      <% if @user.errors.any? %>
      <div class="col">
        <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
      </div>
      <div class="col">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div>
        <%= form_with model: @user do |f| %>
        <div>
          <label for="name">Name</label>
        </div>
        <div>
          <%= f.text_field :name, autofocus: true, id: "name", placeholder:"名前", class: "form-control" %>
        </div>
        <div class="pt-3">
          <label for="image">Image</label>
        </div>
        <div>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像",id:"image", accept: "image/*" %>
        </div>
        <div class="pt-3">
          <label for="introduction">Introduction</label>
        </div>
        <div>
          <%= f.text_area :introduction, autofocus: true, id: "introduction", placeholder: "自己紹介", class: "form-control" %>
        </div>
        <div class="pt-3">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
